certifi
charset-normalizer
contourpy
cycler
filelock
flask
flask-cors
fonttools
fsspec
idna
jinja2
kiwisolver
markupsafe
matplotlib
mpmath
networkx
numpy
packaging
pillow
polars
psutil
pyparsing
python-dateutil
requests
scipy
setuptools
six
sympy
thop
tifffile
torch
torchvision
tqdm
typing-extensions
ultralytics
urllib3
opencv-python
pyyaml